
.App {
  text-align: center;
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
}